@import "./theme.scss";

.home {
  padding-top: 1em;

  h1,
  h3,
  p {
    text-align: center;
  }

  .blog-links {
    text-align: center;
    user-select: none;

    span {
      text-align: center;
      transition: color 0.3s ease;

      &:hover {
        cursor: pointer;
        color: $color-active;
      }
    }
  }
}
